.header {
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: 500;
  margin: 15px 15px 15px 15px;
}
.separator {
  display: flex;
  height: 40px;
}

.display-guage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.min {
  display: flex;
  border: 1px solid black;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40px;
  width: 5px;
  background: violet;
  transform-origin: top left;
  transform: translateX(33px) translateY(9px) rotate(45deg);
}

.guage {
  border: 5px solid white;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background-color: violet;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pointer {
  background: white;
  width: 100px;
  height: 5px;
  transform-origin: right;
  transform: rotate(-45deg);
}
.max {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40px;
  width: 5px;
  background: violet;
  border: 1px solid black;
  transform-origin: top right;
  transform: translateY(9px) translateX(-33px) rotate(-45deg);
}
.footer {
  text-align: center;
  margin: 15px;
}
