<div class="flex-container">
  <mat-card class="input-form-container">
    <form [formGroup]="temparatureInputForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-card-title>Temparature Input Form</mat-card-title>

        <!-- Minimum Temparature Input -->
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label for="minTemp">Minium Temparature</mat-label>
              <input
                placeholder="Minimum Temparature"
                type="number"
                matInput
                formControlName="minTemp"
                autocomplete="off"
              />
              <mat-error
                *ngIf="
                  formControls['minTemp'].touched &&
                  formControls['minTemp'].hasError('required')
                "
              >
                Minimum Temparature is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  formControls['minTemp'].touched &&
                  (formControls['minTemp'].hasError('min') ||
                    formControls['minTemp'].hasError('max') ||
                    formControls['minTemp'].hasError('inValid'))
                "
              >
                Enter a value between -40&#176;C and 40&#176;C
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Maximum Temparature Input -->
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label for="maxTemp">Maximum Temparature</mat-label>
              <input
                placeholder="Maximum Temparature"
                type="number"
                matInput
                formControlName="maxTemp"
                autocomplete="off"
              />
              <mat-error
                *ngIf="
                  formControls['maxTemp'].touched &&
                  formControls['maxTemp'].hasError('required')
                "
              >
                Maximum Temparature is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  formControls['maxTemp'].touched &&
                  (formControls['maxTemp'].hasError('min') ||
                    formControls['maxTemp'].hasError('max'))
                "
              >
                Enter a value between 41&#176;C and 100&#176;C
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Current Temparature Input -->
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label for="currentTemp">Current Temparature</mat-label>
              <input
                placeholder="Current Temparature"
                type="number"
                matInput
                formControlName="currentTemp"
                autocomplete="off"
              />
              <mat-error
                *ngIf="
                  formControls['currentTemp'].touched &&
                  formControls['currentTemp'].hasError('required')
                "
                >Enter value in <strong>min</strong> and
                <strong>max</strong> range</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <!-- Submit Button -->
        <mat-card-actions>
          <button
            mat-raised-button
            class="button"
            color="primary"
            type="submit"
            [disabled]="!temparatureInputForm.valid"
          >
            Submit
          </button>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>

  <mat-card class="guage-container">
    <mat-card-content>
      <app-display-guage
        [temparatureInputs]="temparatureInputs"
      ></app-display-guage>
    </mat-card-content>
  </mat-card>
</div>
